.short-exercise article{
    border: 1px solid #DDE9F6;
    margin: 10px;
    padding-bottom: 7px;
}

.short-exercise img{
    height: auto;
    width: 100%;
}

.short-exercise article h5{
    color: #688EB5;
    text-align: center;
}

div.rating{
    text-align: center;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7px;
}